/*movie poster*/
.movie-poster{
  position: relative;
  flex-basis: 300px;
}
img.movie-poster-img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1020px){
  img.movie-poster-img{
    max-width: 405px;
    margin-bottom: 30px;
  }
}
