/*recommendations*/
.movie-sub-media{
    padding: 0px 20px;
}
.movie-sub-credits{
    padding-right:20px;
}
.movie-sub-content{
    padding-bottom: 30px;
}
.movie-rec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.movie-single-rec{
    flex-basis: 190px;  
    margin-bottom: 15px;
}
.movie-single-rec a{
    font-weight: 500;
    color: black;
    text-decoration: none;
    text-align: left;
}
.movie-rec-poster{
    overflow:hidden;
    background-color: black;
    height: 106px;
}
.movie-rec-poster img.movie-rec-img{
    opacity: 1;
    transition: opacity 0.25s, transform 0.25s;
    width: 100%;
    transform: scale(1);
    transition: -webkit-transform 0.4s ease;
    -webkit-font-smoothing: antialiased;
    -webkit-filter: blur(0.000001px);
}
.movie-rec-poster:hover img.movie-rec-img{
   opacity: 0.75;
   transform: scale(1.10);
}
.movie-sub-media{
    flex: 5;
}
.movie-sub-credits{
    flex: 7;
}